<div class="jumbotron text-center">
    <h1>StrawHatPirates</h1>
    <p class="lead">Welcome to the On-Boarding Application by <strong>B & G Solutions</strong></p>
    <div>
      <a *ngIf="!authService.loggedIn()" routerLink="/register" class="btn btn-primary">Register</a>
      <a *ngIf="!authService.loggedIn()" routerLink="/login" class="btn btn-default">Login</a>
      <a *ngIf="authService.loggedIn()" routerLink="/blog" class="btn btn-success">Upload Applicants (CSV File)</a>
    </div>
  </div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://pm1.narvii.com/6414/dad2aa172d825ceae47276a2c9ea2582aec1b77c_hq.jpg" alt="placeholder image" width="250" height="250">
      <div class="caption">
        <h3>Monkey D. Luffy</h3>
        <p>NBA Most Valuable Player</p>
        <p>5-time NBA Champion</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="http://www.chuing.net/mai/img_character_main/7/776317181423.jpg" alt="Generic placeholder image" width="250" height="250">
      <div class=caption>
        <h3>Roronoa Zoro</h3>
        <p>5-time NBA Most Valuable Player</p>
        <p>6-time NBA Champion</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://myanimelist.cdn-dena.com/images/characters/2/263249.jpg" alt="Generic placeholder image" width="250" height="250">
      <div class=caption>
        <h3>Nami</h3>
        <p>4-time NBA Most Valuable Player</p>
        <p>3-time NBA Champion</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://myanimelist.cdn-dena.com/images/characters/11/161423.jpg" alt="Generic placeholder image" width="250" height="250">
      <div class=caption>
        <h3>Usopp</h3>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://myanimelist.cdn-dena.com/images/characters/5/136769.jpg" alt="Generic placeholder image" width="250" height="350">
      <div class=caption>
        <h3>Vinsmoke Sanji</h3>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://myanimelist.cdn-dena.com/images/characters/3/100536.jpg" alt="Generic placeholder image" width="250" height="250">
      <div class=caption>
        <h3>Tony Tony Chopper</h3>
        <p>NBA Most Improved Player</p>
        <p>2-time All-Star</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="https://myanimelist.cdn-dena.com/images/characters/13/136773.jpg" alt="placeholder image" width="250" height="250">
        <div class="caption">
          <h3>Nico Robin</h3>
          <p>NBA Most Valuable Player</p>
          <p>5-time NBA Champion</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://myanimelist.cdn-dena.com/images/characters/13/210053.jpg" alt="Generic placeholder image" width="250" height="250">
          <div class="caption">
            <h3>Franky</h3>
            <p>NBA Most Valuable Player</p>
            <p>5-time NBA Champion</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="https://myanimelist.cdn-dena.com/images/characters/10/161005.jpg" alt="Generic placeholder image" width="250" height="250">
            <div class="caption">
              <h3>Brook</h3>
              <p>NBA Most Valuable Player</p>
              <p>5-time NBA Champion</p>
            </div>
          </div>
        </div>

</div>